form input {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 14px;
}

form select {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 14px;
}

form label {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
