form input {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  padding: 10px 14px;
}

form input:focus,
input:hover {
  outline: 1px solid #ffb900;
}

form select {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  padding: 10px 14px;
}
form select:focus,
select:hover {
  outline: 1px solid #ffb900;
}

form button:focus {
  outline: 1px solid #ffb900;
}

form label {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
